{% extends 'unit_home.html' %}

{% load static %}

{% block style %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-datetimepicker.css' %}"/>
{% endblock style %}

{% block content %}
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'unithome' %}">Unit</a></li>
        <li class="breadcrumb-item active">END_MOHH</li>
    </ol>
    <form method="post" novalidate>
        {% csrf_token %}
        <h3>Data to be processed</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Date MOHH
                    <input type="text" class="date_input" id="allDateInput"/>
                        Time MOHH
                    <input type="text" class="time_input" id="allTimeInput"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if formset.non_form_errors %}
                    {% for e in formset.non_form_errors %}
                        <div class="alert alert-danger" role="alert">{{e}}</div>
                    {% endfor %}
                {% endif %}
                {% for form in formset %}
                    <tr>
                        <td>{{form.id}}{{form.instance.code}}</td>
                        <td>{{form.instance.get_type_display}}</td>
                        <td>{% include 'includes/field.html' with form=form field=form.start_mohh %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{formset.management_form}}
        <button name="action" value="deactivate_execute" class="btn btn-success">Execute</button>
    </form>
{% endblock content %}

{% block script %}
    {{block.super}}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}